{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    <div class="col-md-4 col-md-offset-4">
        <h3><b>{{ _('Network Setting') }}</b></h3>
        <hr>
        <div>
            {% if form %}
                <form class="form form-horizontal" method="post" role="form">
                    {{ form.hidden_tag() }}{{ wtf.form_errors(form, hiddens="only") }}
                    <div class="form-group">
                        {{ wtf.form_field(form.network_type) }}
                        {{ wtf.form_field(form.mac_address) }}
                        {{ wtf.form_field(form.ip_address) }}
                        {{ wtf.form_field(form.netmask) }}
                        {{ wtf.form_field(form.gateway) }}
                        {{ wtf.form_field(form.dns_server) }}
                    </div>
                    <br>
                    <div class="form-row text-right">
                        <div class="col-12">
                            {{ form.submit(class_="btn btn-primary") }}
                        </div>
                    </div>
                </form>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script type="text/javascript">
        $(function () {
            $('#mac').attr('readonly', true);
            if ($('#network_type').val() === '1') {
                set_readonly(true);
            } else {
                set_readonly(false);
            }
        });
        $('#network_type').change(function () {
            if ($('#network_type').val() === '1') {
                set_readonly(true);
            } else {
                set_readonly(false);
            }

        });

        function set_readonly(type) {
            $('#ip').attr('readonly', type);
            $('#netmask').attr('readonly', type);
            $('#gateway').attr('readonly', type);
            $('#dns').attr('readonly', type);
        }

        $(function () {
            $('#network').addClass('active');
        })
    </script>
{% endblock %}